<section class="card-list">

  <h4>Choisi one Flashcard</h4>
  <mat-form-field appearance="fill">
    <mat-label>Flashcard</mat-label>
    <mat-select [(ngModel)]="selectedFlashCard" (selectionChange)="setFlashcard(selectedFlashCard)">
      <mat-option *ngFor="let list of flashcardlist" [value]="list.id">
        {{ list.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <h2 il8></h2>
  
    <div>
      <div *ngFor="let card of datas">
        <div class="card-body d-flex justify-content-center">
          <app-flashcard-contents
            [card]="card"
            (answer)="saveAnswer($event)"
          ></app-flashcard-contents>
        </div>
      </div>
    </div>
  
  
      <div class="card-body d-flex justify-content-center">
        <button class="btn btn-danger m-2" (click)="reset()">restart</button>
      </div>
  
  </section>
  