<section>

  <h2 i18n>Vocabulaly</h2>

  
  
  <div class="flex-row">
    <div class="flex-column form-style-5">
      <form autocomplete="off" [formGroup]="formVoca" (ngSubmit)="createVoca(formVoca.value)" >
      <fieldset>
        
      <legend><span class="number">!</span> Enter the word in the editor and Apply.</legend>
     <label for="word">Category:</label>
            <select  formControlName="categorys">
        <optgroup label="Categorys" >
          <option *ngFor="let category of categoryService.categoryList">{{category}}</option>
        </optgroup>
        </select>
      <input type="text" formControlName="word" placeholder="English phrase">
      <hidden value="en" formControlName="lang_word"></hidden>
      <textarea formControlName="meaning" placeholder="French meaning"></textarea>
      <hidden value="fr" formControlName="lang_meaning"></hidden>
 
      </fieldset>

      <input type="submit" value="Apply" />
      </form>

    </div>
    
    <div class="flex-column form-style-5">
    <form autocomplete="off" [formGroup]="formFlash" (ngSubmit)="setVocabulary(formFlash.value)" class="flex-column">
      <label for="word">Select Category</label>
      <select formControlName="categorys">
        <optgroup label="Categorys">
          <option *ngFor="let category of categoryService.categoryList" [value]="category">{{category}}</option>
        </optgroup>
      </select>
      <input type="submit" value="Apply" />
    </form>
   
        <label for="word">List of vocabulalys</label>
        <table *ngFor="let data of vocabularys">
          <tr>
            <td style="width:90%">
              <legend><span class="number">w</span> {{ data.word }}</legend>
              Category:  {{ data.categorys }}
            </td>
             
            <td style="width:10%; text-align:center;"> 
              <a [routerLink]="['/admin/vocabulary/vocabulary-edit']" [queryParams]="{id: data.id}">
               edit
              </a>
              <button mat-button color="accent" (click)="deleteVocabulary(data.id)">
                <mat-icon>close</mat-icon>
              </button></td>
          </tr>
        </table>
      </div>
    </div>
  
</section>