:host {
    margin: 0 auto;

}

.selectlist {
    opacity: 0.75;
    font-size: 0.75em;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

.form-field {
    width: 100%;
}

select {
    border: 1px solid gray;

}

mat-label {
    font-size: larger;
    font-weight: bold;
    padding: 5px;

}

input {
    min-height: 50px;
    border: 1px solid gray;
}

textarea {
    border: 1px solid gray;
    padding: 5px;
}

button {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.list {
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.mat-radio-button~.mat-radio-button {
    padding: 2px
}

mat-radio-button{
    padding: 10px;
}
.form-style-5{
	max-width: 50%;
  min-width: 50%;
}