<section>

  <h2 i18n>Edit Vocabulary</h2>

  <div class="form-style-5">
    <form autocomplete="off" [formGroup]="formVoca" (ngSubmit)="updateVoca(formVoca.value)" >
    <fieldset>
      
    <legend><span class="number">!</span> Enter the word in the editor and Apply.</legend>
    <label for="word">Category:</label>
          <select  formControlName="categorys"  [ngModel]="data.categorys" 
          (ngModelChane)="data.categorys">
      <optgroup label="Categorys" >
        <option *ngFor="let category of categoryService.categoryList" [value]="category">{{category}}</option>
      </optgroup>
      </select>
    <input type="text" formControlName="word" [(ngModel)]="data.word" placeholder="English phrase">
    <hidden value="en" formControlName="lang_word"></hidden>
    <textarea formControlName="meaning" [(ngModel)]="data.meaning" placeholder="French meaning"></textarea>
    <hidden value="fr" formControlName="lang_meaning" ></hidden>

    </fieldset>

    <input type="submit" value="Apply" />
    </form>
  </div>
 
</section>