mat-label{
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

input{
    min-height: 50px;
    border: 1px solid gray ;
    padding: 10px;
    margin-bottom: 10px;
}

textarea{
    border: 1px solid gray ;
    margin-bottom: 10px;
}