.form-field {
    width: 90%;
    margin-left: 20px;
    
  }

    
select{
    border: 1px solid gray ;
}
label{
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

input{
    min-height: 50px;
    border: 1px solid gray ;
}

textarea{
    border: 1px solid gray ;
}

button{
    width: 90%; text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.list{
    width: 90%; 
    margin-left: 20px;
    margin-bottom: 20px;
}
.mat-form-field {
    margin-right: 4px;
  }
.tree{
    text-align: left;
    margin-left: 0%;
    display: flex; 
    justify-content: flex-start

  }

  .mat-tree {
    background: transparent;
  }
    
  .mat-tree-node {

  }