<section>

  <h2 i18n>Category</h2>
  <table>
    <tr>
      <th colspan="3"><button mat-button color="accent" (click)="setCategory()">Add Category  <mat-icon>add_circle_outline</mat-icon></button>
      </th>
    </tr>
    <ng-container *ngFor="let x of categorys; index as key">
      <tr>
        <th>
          {{ x.category }}
        </th>
        <th>
          <button mat-button color="accent" (click)="setItem(x.category)">Add Item <mat-icon>add_circle_outline</mat-icon></button>
        </th>
        <th> <button mat-button color="accent" (click)="deleteCategory(x.category)"><mat-icon>close</mat-icon></button></th>
      </tr>
      <tr *ngFor="let c of x.item; index as key">
        <th>{{ key + 1 }}</th>
        <td>{{ c }}</td>
        <td>
          <button mat-button color="accent" (click)="deleteItem(x.category,key)"><mat-icon>close</mat-icon></button>
        </td>
      </tr>
    </ng-container>
  </table>
</section>