<section class="section-home">

    <div class="center-login" i18n>
        <h2 >Welcome to FlashCard</h2>
        <h3>This app uses Flashcard to help you memorize words efficiently!</h3>

        <h4>How to use</h4>
        <p>1.Create a category of words - <a [routerLink]="['/admin/category']">Edit Category</a></p>
        
        <p>2.Register a word  - <a [routerLink]="['/admin/vocabulary']">Edit Vocabulary</a></p>
        
        <p>3.Choose a word and make a flashcard  - <a [routerLink]="['/admin/flashcard']">Edit Flash Card</a></p>
        
        <p>4.You're all set. Let's memorize the words on the flashcard right away!  - <a [routerLink]="['/flashcard']">Flash Card</a></p>
        
    </div>

</section>
