<section class="section-home">

    <div class="center-login">
        <h2 i18n>Welcome to FlashCard</h2>
        <h3 i18n>This app uses Flashcard to help you memorize words efficiently!</h3>

        <h4 i18n>How to use</h4>
        <p i18n>1.Create a category of words - <a [routerLink]="['/admin/category']">Edit Category</a></p>
        
        <p i18n>2.Register a word  - <a [routerLink]="['/admin/vocabulary']">Edit Vocabulary</a></p>
        
        <p i18n>3.Choose a word and make a flashcard  - <a [routerLink]="['/admin/flashcard']">Edit Flash Card</a></p>
        
        <p i18n>4.You're all set. Let's memorize the words on the flashcard right away!  - <a [routerLink]="['/flashcard']">Flash Card</a></p>
        
    </div>

</section>
